.subheadline {
    background:  #FFC0CBFF;
    border-radius: 10px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.subheadline>p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding-right: 15px;
    color: #d15863;
    opacity: 0.5;
}

.subheadline>a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding-left: 15px;
    color: #A71C29;
}

.worldtop>a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding-left: 15px;
    color: #A71C29;
}

.card_container {
    background:#FF808C;
    border-radius: 10px;
    align-items: center;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
    box-shadow: inset 0px 4px 8px #c65a66;
}

.tag_card_container {
    background:#FF808C;
    border-radius: 10px;
    align-items: center;
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px;
    justify-content: space-between;
    box-shadow: inset 0px 4px 8px #c65a66;
}

.card_container_2 {
    background:#FF808C;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 25px;
    padding: 20px;
    justify-content: space-between;
}

.card_container_2>p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #A71C29;
    font-size: 50px;
    opacity: 0.5;
}

.card_container::-webkit-scrollbar {
    display: none;
}

.fullanimebox>a::-webkit-scrollbar {
    display: none;
}

.largeanimebox>a::-webkit-scrollbar {
    display: none;
}

.largeanimebox  {
    background-color: #fd929c;
    height: 260px;
    width: 370px;
    min-width: 370px;
    display: flex;
    border-radius: 10px;
}

.smallanimebox  {
    background-color: #fd929c;
    height: 135px;
    width: 190px;
    min-width: 190px;
    display: flex;
    border-radius: 10px;
}

.fullanimebox {
    background-color: #fd929c;
    height: 315px;
    display: flex;
    border-radius: 10px;
}

.block  {
    align-items: center;
}

.largeanimebox>a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding-left: 15px;
    color: #d15863;
    flex-direction: column;
    padding-right: 5px;
    display: block;
    height: 250px;
    overflow: scroll;
}

.smallanimebox>a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-left: 7px;
    color: #d15863;
    flex-direction: column;
    padding-bottom: 10px;
    display: block;
    line-height: 10px;
}

.fullanimebox>a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding-left: 15px;
    color: #d15863;
    flex-direction: column;
    padding-right: 5px;
    display: block;
    height: 300px;
    overflow: scroll;
    text-overflow: '...';
}

.fullanimebox>img {
    height: 315px;
}

.fullanimebox>a>h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #A71C29;
    font-weight: normal;
    margin-bottom: 2px;
}

.fullanimebox>a>h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #A71C29;
    margin-bottom: 2px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #A71C29;
    font-weight: normal;
    margin-bottom: 2px;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: #A71C29;
    font-weight: 80;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: #A71C29;
    font-weight: normal;
}