.checkbox-wrapper {
    display: flex;
    position: relative;
    width: 140px;
    height: 30px;
    align-items: center;
}

.checkbox-element {
    appearance: none;
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    height: 30px;
    width: 140px;
    background-color: #fd929c;
    border-radius: 10px;
}

.checkbox-element:checked{
    background-color: #A71C29;
}


.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
    row-gap: 20px;
}

.tagName {
    position: absolute;
    z-index: 2;
    text-align: center
}