.checkbox-wrapper {
    display: flex;
    position: relative;
    width: 140px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.checkbox-wrapper>p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d15863;
    height: 14px;
}

.checkbox-element {
    appearance: none;
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    height: 30px;
    width: 140px;
    background-color: #fd929c;
    border-radius: 10px;
}

.checkbox-element:checked{
    background-color: #fd929c;
    border: 2px solid #A71C29;
}

.AT_container {
    overflow-x: scroll;
    padding: 24px
}

.allTags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
    row-gap: 20px;
    justify-items: center;
}

.AT_container::-webkit-scrollbar {
    display: none;
}

.button_container {
    padding: 4px 0px 4px 20px;
    box-shadow: 0px -4px 8px #c65a66;
}

.tagName {
    position: absolute;
    z-index: 2;
    text-align: center
}

.form {
    width: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
}

.buttOn {
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background-color: #fd929c;
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d15863;
    font-size: 20px;
    position: sticky;
    margin: 3px;
    box-shadow: 0px 4px 8px #c65a66;
}